.messages-by-sender
  display: flex
  flex-direction: row
  align-items: center
  border-bottom: 1px dashed rgba(0,0,0,.2)
  padding: 1em 0

.messages-container
  display: block
  width: 100%
  flex: 1
  padding: 0.5em

  .sender
    font-weight: bold
    display: block
    margin-bottom: 0.5em

.chatmessages
  display: block
  width: 100%
  padding: 0px
  margin: 0px
  flex: 1

.chatmessage-profile-pic
  height: 5em
  border-radius: 100%
  border: 0.15em dashed rgba(0,0,0,0.2)
  padding: 0.15em
  margin: 1em