.messages-by-sender
  display: flex
  flex-direction: row
  align-items: center
  border-bottom: 1px dashed rgba(0,0,0,.2)
  padding: 1em 0

  &.reached-bottom
    position: relative

  &.server-user
    padding: 0

    .chatmessage-profile-pic
      height: 2em
      width: 5em
      padding: 0 2em
      margin: 0 1em
      border-radius: 0
      background-position: 50% 50%
      background-color: rgba(0, 140, 60, 0.05)
    
    .sender
      display: none

    .messages-container
      padding: 0

    .time
      display: none

    .contents
      padding: 0


.messages-container
  display: block
  width: 100%
  flex: 1
  padding: 0.5em

  .sender
    font-weight: bold
    display: block
    margin-bottom: 0.5em

.chatmessages
  display: block
  width: 100%
  padding: 0px
  margin: 0px
  flex: 1

.chatmessage-profile-pic
  height: 5em
  width: 5em
  border-radius: 100%
  // border: 0.15em dashed rgba(0,0,0,0.2)
  padding: 0.15em
  margin: 1em
  background-size: cover

.sticky-chatmessage-header
  visibility: hidden
  display: block
  // position: fixed
  position: absolute
  background-color: rgba(247, 247, 247, 0.9)
  font-weight: bold
  width: 100vw
  padding: 0.2em 0
  text-align: center
  top: 0

  &.active
    visibility: visible

    &.reached-bottom
      // width: 100%
      // position: absolute
      bottom: 0
      top: initial